@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;



@media (prefers-color-scheme: dark) {
  :root {
  --background: #447a9c;
  --foreground: #ededed;
  

  }
} 

body {
  /* background: var(--background); */
  /* color: var(--foreground); */
  /* font-family: Arial, Helvetica, sans-serif; */
  /* background-image: radial-gradient(circle, #a3a7c7 1px, #7d7fa6 1px); */
  /* background-image: radial-gradient(circle, #a3a7c7 1, #111829 0px); */
  background-color: #111829;
  background-image: 
  linear-gradient(to right, #2e2c4f 1px, transparent 1px),
  linear-gradient(to bottom, #2e2c4f 1px, transparent 1px);
  background-size: 100px 60px;
  background-color: #111829;
}
html {
  scroll-behavior: smooth;
}

::selection {
  background-color: #37365e38;
  color: #2e2d4f;
}

.social_media {
    width: 60px;
    height: 60px;
    padding: 10px;
    border-radius: 100px;
    background-color: #6c66b6;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(var(--drop-shadow-md));
    transition: filter 0.2s ease;
  }

.social_media:hover {
  background-color: #37345d;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

.social_media img {
    width: 100%;
    height: 100%;
    filter: brightness(0) saturate(100%);
    transition: filter 0.15s ease-in;
}

.social_media:hover img {
    filter: none;
}

.navbar-section:hover{
  color: #c5bfff;
}

@keyframes gradient-x {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}

body{
  font-optical-sizing: auto;
  /* font-family: "Noto Sans JP", sans-serif; */
  font-weight: 100;
  font-style: normal;
}

/* After */



p {
    font-weight: 300;
    line-height: 1.5;
    font-size: 14px;
    opacity: .8;
}

/* // timeline style */
.timeline {
    position: relative;
    padding-left: 4rem;
    margin: 0 0 0 30px;
    color: black;

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 4px;
        height: 100%;
        background: #27293d;
    }

    .timeline-container {
        position: relative;
        margin-bottom: 2.5rem;;

        .timeline-icon {
            position: absolute;
            left: -88px;
            top: 4px;
            /* width: 50px; */
            /* height: 50px; */
            border-radius: 50%;
            text-align: center;
            font-size: 2rem;
            background: #4f537b;

            i {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }

            img {
                /* width: 100%; */
                /* height: 100%; */
                /* border-radius: 50%; */
            }
        }

.timeline-item {
    position: relative; /* Creates a stacking context */
    z-index: 0;
}

.timeline-body {
    position: relative; /* Relative to .timeline-item */
    background: #c4c1ff;
    border-radius: 3px;
    padding: 20px 20px 15px;
    box-shadow: 1px 3px 9px rgba(0, 0, 0, 0.1);
    width: 600px;
    z-index: 2;
    margin-bottom: 30px;
}
/* 
.timeline-body::before {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 30px;
    transform: rotate(45deg);
    width: 20px;
    height: 20px;
    background: #c4c1ff;
    border: 5px solid #37345d;
    z-index: 1;
} */


        /* // Primary Timeline */
        &.primary {
            .badge,
            .timeline-icon {
                background: #ffcb05 !important;
            }
        }

        /* // Info Timeline */
        &.info {
            .badge,
            .timeline-icon {
                background: #00284c !important;
            }
        }

        /* // Success Timeline */
        &.success {
            .badge,
            .timeline-icon {
                background: #00bf9a !important;
            }
        }

        /* // Warning Timeline */
        &.warning {
            .badge,
            .timeline-icon {
                background: #ff8d72 !important;
            }
        }

        /* // Dnager Timeline */
        &.danger {
            .badge,
            .timeline-icon {
                background: #00284c !important;
            }
        }

    }
}
