@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;



@media (prefers-color-scheme: dark) {
    :root {
        --background: #447a9c;
        --foreground: #ededed;


    }
}

body {
    background-color: #111;
    color: #eee;
    font-family: 'Courier Prime', 'Courier New', monospace;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;
}

::selection {
    background-color: #eee;
    color: #111;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    scroll-behavior: smooth;
}

.social_media {
    /* ... existing styles if needed, or remove later ... */
}

/* After */





/* // timeline style */
.timeline {


    .timeline-container {
        position: relative;
        margin-bottom: 2.5rem;
        ;

        .timeline-icon {
            position: absolute;
            left: -88px;
            top: 4px;
            /* width: 50px; */
            /* height: 50px; */
            border-radius: 50%;
            text-align: center;
            font-size: 2rem;
            background: #4f537b;

            i {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }

            img {
                /* width: 100%; */
                /* height: 100%; */
                /* border-radius: 50%; */
            }
        }

        .timeline-item {
            position: relative;
            /* Creates a stacking context */
            z-index: 0;
        }

        .timeline-body {
            position: relative;
            /* Relative to .timeline-item */
            background: #c4c1ff;
            border-radius: 3px;
            padding: 20px 20px 15px;
            box-shadow: 1px 3px 9px rgba(0, 0, 0, 0.1);
            width: 600px;
            z-index: 2;
            margin-bottom: 30px;
        }

        /* 
.timeline-body::before {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 30px;
    transform: rotate(45deg);
    width: 20px;
    height: 20px;
    background: #c4c1ff;
    border: 5px solid #37345d;
    z-index: 1;
} */


        /* // Primary Timeline */
        &.primary {

            .badge,
            .timeline-icon {
                background: #ffcb05 !important;
            }
        }

        /* // Info Timeline */
        &.info {

            .badge,
            .timeline-icon {
                background: #ffcb05 !important;
            }
        }

        /* // Success Timeline */
        &.success {

            .badge,
            .timeline-icon {
                background: #00bf9a !important;
            }
        }

        /* // Warning Timeline */
        &.warning {

            .badge,
            .timeline-icon {
                background: #ff8d72 !important;
            }
        }

        /* // Dnager Timeline */
        &.danger {

            .badge,
            .timeline-icon {
                background: #ffcb05 !important;
            }
        }

    }
}